{% extends 'base.html' %}

{% block title %}
    {{ super() }}
{% endblock title %}

{% block meta_tags_in_head %}
    {{ super() }}
    <link rel="canonical" href="{{ SITEURL }}">
    <meta property="og:title" content="{{ INDEX_PAGE_TITLE }}"/>
    <meta name="twitter:title" content="{{ INDEX_PAGE_TITLE }}"/>
    <meta property="og:url" content="{{ SITEURL }}" />
    <meta property="og:description" content="{{ INDEX_PAGE_DESCRIPTION }}" />
    <meta name="twitter:description" content="{{ INDEX_PAGE_DESCRIPTION }}"/>
    <meta property="og:site_name" content="{{ SITENAME|striptags|e }}" />
    <meta property="og:article:author" content="{{ AUTHOR }}" />
    {% from '_includes/_defaults.html' import FEATURED_IMAGE with context %}
    {% if FEATURED_IMAGE %}
        <meta property="og:image" content="{{FEATURED_IMAGE}}" />
        <meta name="twitter:image" content="{{FEATURED_IMAGE}}"/>
    {% endif %}
{% endblock meta_tags_in_head %}

{% block content %}
    <div class="index-container">
        <div class="col masthead" align="center" style="background-image: url('{{ SITEURL }}/{{ INDEX_BANNER_IMAGE }}')">
            <h1>{{ SITENAME }}</h1>
            <h5>{{ SITESUBTITLE }}</h5>
        </div>
        <div class="sidebar sticky">
            <div itemscope="" itemtype="http://schema.org/Person">
                <div class="author__avatar">
                    <img src="https://ChunML.github.io/ChunML.github.io/images/bio-photo.jpg" class="author__avatar" alt="Trung Tran">
                </div>
                <div class="author__content">
                    <h3 class="author__name">Trung Tran</h3>
                    <p class="author__bio">GearHead &amp; Deep Learning Enthusiast</p>
                </div>
                <div class="author__urls-wrapper">
                    <button class="btn btn--inverse">Follow</button>
                    <ul class="author__urls social-icons">
                        <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> Tokyo, Japan</li>
                        <li><a href="https://www.linkedin.com/in/chunml"><i class="fa fa-fw fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></li>
                        <li><a href="https://github.com/ChunML"><i class="fa fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="post-container" class="container post index" style="max-width: 1040px">
            {% for article in articles_page.object_list %}

            <article class="index-post-card index-post index-post-card-large">
                <a class="index-post-card-image-link" href="{{ SITEURL }}/{{ article.url }}">
                <img class="index-post-card-image" srcset="{{ article.featured_image }} 300w,
                    {{ article.featured_image }} 600w,
                    {{ article.featured_image }} 1000w,
                    {{ article.featured_image }} 2000w" sizes="(max-width: 1000px) 400px, 700px" src="{{ article.featured_image }}" alt="Neural Transfer Learning for Natural Language Processing (PhD thesis)">
                </a>
                <div class="index-post-card-content">
                    <a class="index-post-card-content-link" href="{{ SITEURL }}/{{ article.url }}">
                        <header class="index-post-card-header">
                            <span class="index-post-card-tags">{{ article.category }}</span>
                            <h2 class="index-post-card-title">{{ article.title }}</h2>
                        </header>
                        <section class="index-post-card-excerpt">
                            <p>{{ article.indexpreview }}</p>
                        </section>
                    </a>
                    <div class="index-post-card-meta">
                        <ul class="index-author-list">
                            <li class="index-author-list-item">
                                <div class="index-author-name-tooltip">
                                    {{ AUTHOR }}
                                </div>
                                <a href="{{ ABOUT_PAGE }}" class="index-static-avatar">
                                <img class="index-author-profile-image" src="{{ PROFILE_PHOTO_ABOUT }}" alt="Sebastian Ruder">
                                </a>
                            </li>
                        </ul>
                        <div class="col">
                            <div class="row justify-content-end">
                                <span class="index-reading-time">{{ article.readingtime }} min read</span>
                                <i class="fas fa-comment index-comment-icon" href="{{ SITEURL }}/{{ article.url }}#disqus_thread"></i>
                                <a class="index-reading-time disqus-comment" href="{{ SITEURL }}/{{ article.url }}#disqus_thread"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'pythonic-excursions'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    } ());

    $('.disqus-comment').each(function(){
        var numCommentText = $(this).text(),
            num = numCommentText.match(/\d+/g);
        $(this).text(num)
    });
</script>
{% endblock content %}
