{% extends 'base.html' %}

{% block title %}
    About {{ AUTHOR_SHORTENED }} | {{ super() }}
{% endblock title %}

{% block meta_tags_in_head %}
    {{ super() }}
    <link rel="canonical" href="{{ SITEURL }}/{{ ABOUT_PAGE }}">
    <meta property="og:title" content="{{ ABOUT_PAGE_TITLE }} | {{ SITENAME|striptags|e }}"/>
    <meta name="twitter:title" content="{{ ABOUT_PAGE_TITLE }} | {{ SITENAME|striptags|e }}"/>
    <meta property="og:url" content="{{ SITEURL }}/{{ ABOUT_PAGE }}" />
    <meta property="og:description" content="{{ ABOUT_PAGE_DESCRIPTION }}" />
    <meta name="twitter:description" content="{{ ABOUT_PAGE_DESCRIPTION }}"/>
    <meta property="og:site_name" content="{{ SITENAME|striptags|e }}" />
    <meta property="og:article:author" content="{{ AUTHOR }}" />
    {% from '_includes/_defaults.html' import FEATURED_IMAGE with context %}
    {% if FEATURED_IMAGE %}
        <meta property="og:image" content="{{ FEATURED_IMAGE }}" />
        <meta name="twitter:image" content="{{ FEATURED_IMAGE }}"/>
    {% endif %}
{% endblock meta_tags_in_head %}

{% block content %}
    <div class="about-profile-banner row align-items-center justify-content-center" align="center" style="background-image: url('{{ SITEURL }}/{{ INDEX_BANNER_IMAGE }}')">
        <div class="about-content-center pop-over">
            <div class="cc-profile-image">
                <a href="#"><img id="about-profile-image" src="{{ SITEURL }}/{{ PROFILE_PHOTO_ABOUT }}"></a>
            </div>
            <div class="about-author">{{ AUTHOR }}</div>
            <p class="about-author-subtitle text-white">{{ AUTHOR_SUBTITLE }}</p>
            <a class="btn btn-primary aos-init aos-animate display-none" href="{{ RESUME_PDF_LINK }}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">{{ RESUME_BUTTON_TEXT }}</a>
        </div>
    </div>
    <div class="section about-button-container no-padding pop-over">
       <div class="container">
          <div class=" row justify-content-center">
              <a class="btn btn-default btn-lg btn-icon about-button mr-3" href="{{ LINKEDIN_LINK }}">
                  <i class="fab fa-linkedin-in"></i>
              </a>
              <a class="btn btn-default btn-round btn-lg btn-icon about-button" href="{{ GITHUB_LINK }}">
                  <i class="fab fa-github"></i>
              </a>
          </div>
       </div>
    </div>
    <div class="pop-over about-page">
        <div class="section pb-5" id="about" tabindex="-1">
            <div class="container" style="max-width: 960px;">
                <div class="row">
                    <div class="col">
                        <div class="h2 mt-3 title text-center mb-5">About</div>
                        <hr>
                        <p>Hello! I'm Eric Kim, a Data Scientist and Petroleum Engineer in the oil and gas industry.
                            My expertise includes process simulations, general compressor applications, and data
                            science. After I got my bachelor's in Petroleum Engineering with a minor in Computer
                            Science at the University of Texas at Austin in 2019, I've been working for
                            <a href="https://flogistix.com/" target="_blank">Flogistix</a> in Oklahoma. I’ve been
                            involved with various compressor projects, with focus on (but not restricted to) vapor
                            recovery for reducing carbon footprint of oil and gas operations and ensuring compliance
                            with federal emission requirements. Since early 2023, I have been a U.S. permanent
                            resident.</p>
                        <p>For professional inquiries, please contact me at <b>aegis4048@gmail.com</b>. I'm open for
                            short-term part-time consulting services. For discussions or questions related to my
                            posts, please direct them in the comment section of each post, as it could assist others
                            with similar interests.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section pb-5" id="technical_skillsets" tabindex="-1">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="h2 mt-3 title text-center mb-5">Technical Skillsets</div>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-md-6 no-padding-right">
                                <div class="row no-margin">
                                    <h4>Compression Systems</h4>
                                    <ul>
                                        <li><p>Vapor Recovery Unit (VRUs)</p></li>
                                        <li><p>Wellhead compression</p></li>
                                        <li><p>Casing drawdown</p></li>
                                        <li><p>Screw & reciprocating compressor sizing</p></li>
                                        <li><p>Compression economics analysis</p></li>
                                    </ul>
                                </div>
                                <div class="row no-margin">
                                    <h4>Proces Simulations</h4>
                                    <ul>
                                        <li><p>Upstream & midstream oil and gas applications</p></li>
                                        <li><p>Tank vent & flash volume estimations and predictions</p></li>
                                        <li><p>Vessel sizing: separators, heater treaters, scrubbers, VRTs, etc</p></li>
                                        <li><p>Pipe friction, sizing, or hydraulics analysis</p></li>
                                        <li><p>Dew point analysis</p></li>
                                        <li><p>Geothermal plant facility simulations</p></li>
                                        <li><p>Anything that involves chemical processing</p></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 no-padding-left">
                                <div class="row no-margin">
                                    <h4>Data Science</h4>
                                    <ul>
                                        <li><p>Highly proficient in statistics, data processing, and visualizations</p></li>
                                        <li><p>Public oil and gas data analysis (Enverus, IHS)</p></li>
                                        <li><p>General data analysis applications</p></li>
                                        <li><p>Python</p></li>
                                    </ul>
                                </div>
                                <div class="row no-margin">
                                    <h4>Oil & Gas Applications</h4>
                                    <ul>
                                        <li><p>Well (project) evaluation and economic forecasts</p></li>
                                        <li><p>Nodal analysis</p></li>
                                        <li><p>Critical gas flowrate predictions & modeling</p></li>
                                        <li><p>Programming implementation of any technical models</p></li>
                                    </ul>
                                </div>
                                <div class="row no-margin">
                                    <h4>Web Development</h4>
                                    <ul>
                                        <li><p>Working knowledge in frontend, backend, database</p></li>
                                        <li><p>Working knowledge in HTML, CSS, Javascript, Django, PostgreSQL</p></li>
                                        <li><p>(I developed this website from scratch…)</p></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="projects" tabindex="-1">
            <div class="container mb-5">
                <div class="row">
                    <div class="col">
                        <div class="h2 mt-3 title text-center mb-5">Projects</div>
                        <div class="project-card">
                            <div class="row">
                                <div class="col-12 col-md-7 pr-4" style="cursor: pointer;" onclick="window.open('https://github.com/aegis4048/GasCompressibility-py','_blank')"><img src="{{ SITEURL }}/theme/img/zfactor.png"></div>
                                <div class="col-12 col-md-5 pl-4 project-description">
                                    <h3 class="mt-2">GasCompressibility-Py</h3>
                                    <p style="flex: 1;">GasCompressibility-py is a Python library for calculating the gas
                                        compressibility factor, $Z$, based on real gas law. It is designed with
                                        practical oil field application in mind, in which the required inputs ($T$,
                                        $P$, and $\gamma_{g}$) can be readily obtained from the surface facility.
                                    </p>
                                    <div>
                                        <p><i class="fab fa-github mr-2"></i><a href="https://github.com/aegis4048/GasCompressibility-py" target="_blank">Github Link</a></p>
                                        <p><i class="fas fa-book mr-2"></i><a href="https://aegis4048.github.io/GasCompressibility-py/theories.html" target="_blank">Documentation</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

onclick="window.open('{{ SITEURL }}/{{ article.url }}','_blank')"
